/build/
*.iml
.gradle/
local.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml

### OS ###
.DS_Store
Thumbs.db

### Dependency ###
/*.jar
/*.war
/*.ear

### Log ###
*.log
logs/
npm-debug.log
yarn-debug.log
yarn-error.log

### Android Studio ###
/captures/
/.externalNativeBuild/
.cxx/
*.keystore
*.jks

### Firebase ###
/app/google-services.json
/app/src/debug/google-services.json
/app/src/release/google-services.json

### Gradle Wrapper ###
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat

### Kotlin ###
/*.kotlin_metadata
/.konan/
/*.kts

### Crashlytics ###
/app/fabric.properties
/crashlytics.properties
/.fabric/

### Fastlane ###
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/screenshots/

### Misc ###
/*.apk
/*.aab
/*.ipa